.nav-link {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xs);
  font-family: var(--body-font);
  line-height: var(--line-height-xl);
  text-decoration: underline;
  color: var(--color-black);
}
