@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  /* Real Colors */
  --color-classic-rose: #fac8eb;
  --color-black: #000000;
  --color-white: #ffffff;

  /* Abstract Colors */
  --color-brand-primary: var(--color-Classic-Rose);
  --color-dark: var(--color-black);
  --color-light: var(--color-white);

  /* Distances */
  --distance-3xs: 2px;
  --distance-xxs: 14px;
  --distance-xs: 16px;
  --distance-s: 24px;
  --distance-m: 32px;
  --distance-l: 46px;
  --distance-xl: 48px;
  --distance-xxl: 76px;
  --distance-3xl: 90px;
  --distance-4xl: 140px;
  --distance-5xl: 160px;

  /* font-family */
  --body-font: "inter";
  --font-size-xs: 16px;
  --font-size-s: 20px;
  --font-size-m: 25px;
  --font-size-l: 32px;
  --font-size-xl: 40px;
  --font-size-xxl: 48px;
  --font-size-3xl: 64px;
  --font-size-4xl: 70px;
  --font-size-5xl: 107px;
  --font-weight-black: 900;
  --font-weight-bold: 700;
  --font-weight-regular: 400;

  /* line-height */
  --line-height-xl: 100%;
  --line-height-l: 100px;
  --line-height-m: 50px;
  --line-height-s: 42px;
  --line-height-xs: 24px;
}

.wrapper {
  margin: 0 auto;
  padding: var(--distance-xl) var(--distance-xs);
  max-width: 1728px;
}

@media (min-width: 1234px) {
  .wrapper {
    margin: 0 auto;
    padding: var(--distance-xl) var(--distance-5xl);
    max-width: 1728px;
  }
}

.visually-hidden {
  display: none;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--distance-xs) var(--distance-xl) var(--distance-xs)
    var(--distance-xl);
  width: fit-content;
}

@media (min-width: 768px) {
  .btn {
    width: 269px;
  }
}

.btn__text {
  padding: 0 var(--distance-xs) 0 0;
  font-weight: var(--font-weight-bold);
  font-family: var(--body-font);
  line-height: var(--line-height-xl);
  color: var(--color-black);
}

.btn--primary .icon {
  color: var(--color-classic-rose);
}

.btn--primary {
  border: var(--distance-3xs) solid var(--color-black);
  background-color: var(--color-white);
}

.btn--secondary .icon {
  color: var(--color-black);
}

.btn--secondary {
  border: var(--distance-3xs) solid transparent;
  background-color: var(--color-white);
}
/* Headlines */
.headline {
  margin: 0 0 var(--distance-m) 0;
  font-weight: var(--font-weight-bold);
  font-family: var(--body-font);
  line-height: var(--line-height-xl);
  color: var(--color-black);
  text-align: left;
}

.headline--x-large {
  font-weight: var(--font-weight-black);
  font-size: var(--font-size-3xl);
  color: var(--color-classic-rose);
  text-align: right;
  text-decoration: none;
}

@media (min-width: 768px) {
  .headline--x-large {
    font-size: var(--font-size-5xl);
  }
}

.headline--large {
  font-size: var(--distance-xl);
}

@media (min-width: 768px) {
  .headline--large {
    font-size: var(--font-size-3xl);
  }
}

.headline--medium {
  font-size: var(--font-size-xl);
}

@media (min-width: 768px) {
  .headline--medium {
    font-size: var(--font-size-xxl);
  }
}

.headline--small {
  font-size: var(--font-size-s);
}

@media (min-width: 768px) {
  .headline--small {
    font-size: var(--font-size-xl);
  }
}

.headline--x-small {
  font-weight: var(--font-weight-black);
  font-size: var(--font-size-l);
  line-height: var(--line-height-s);
  text-transform: uppercase;
  color: var(--color-white);
  text-align: center;
}
/* copies list link  */
.copy {
  margin: 0 0 var(--distance-m) 0;
  font-weight: var(--font-weight-regular);
  font-style: normal;
  font-size: var(--font-size-xs);
  font-family: var(--body-font);
  line-height: var(--line-height-xs);
}

.link {
  display: block;
  font-weight: var(--font-weight-black);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  font-family: var(--body-font);
  text-decoration: underline;
  color: var(--color-black);
  text-wrap: nowrap;
}

@media (min-width: 1234px) {
  .link {
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-l);
  }
}

.list__item {
  font-weight: var(--font-weight-regular);
  font-style: normal;
  font-size: var(--font-size-l);
  font-family: var(--body-font);
  line-height: var(--line-height-s);
}
/* Navgation */
.nav {
  display: flex;
  gap: var(--distance-xl);
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.nav-link {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-xs);
  font-family: var(--body-font);
  line-height: var(--line-height-xl);
  text-decoration: underline;
  color: var(--color-black);
}
/* Header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--distance-xl) var(--distance-xs);
}

@media (min-width: 1234px) {
  .header {
    padding: var(--distance-xl) var(--distance-5xl);
  }
}

.header__nav {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100vh;
  background: var(--color-white);
  transform: translateX(100%);
}

@media (min-width: 768px) {
  .header__nav {
    position: static;
    height: auto;
    width: auto;
    transform: none;
  }
}

.header__nav-list {
  display: flex;
  flex-direction: column;
  gap: var(--distance-xl);
  list-style: none;
}

@media (min-width: 768px) {
  .header__nav-list {
    flex-direction: row;
    gap: var(--distance-s);
  }
}

@media (min-width: 1234px) {
  .header__nav-list {
    flex-direction: row;
    gap: var(--distance-xl);
  }
}

.burger-icon {
  position: relative;
  z-index: 10;
  width: var(--distance-m);
  height: var(--distance-s);
  cursor: pointer;
}

@media (min-width: 768px) {
  .burger-icon {
    display: none;
  }
}

.burger-icon::before {
  top: 0;
}

.burger-icon::after {
  bottom: 0;
}

.line {
  top: 50%;
  transform: translateY(-50%);
}

.line,
.burger-icon::before,
.burger-icon::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  width: 100%;
  height: 3px;
  background: var(--color-black);
}

.nav-toggle {
  display: none;
}

.nav-toggle:checked ~ .header__nav {
  transform: translateX(0);
}

.nav-toggle:checked + .burger-icon .line {
  transform: rotate(45deg);
}

.nav-toggle:checked + .burger-icon::before {
  top: 50%;
  transform: rotate(-45deg);
}

.nav-toggle:checked + .burger-icon::after {
  opacity: 0;
}
/* Hero section */
.hero {
  display: flex;
  flex-direction: column;
  max-width: 1409px;
}

@media (min-width: 768px) {
  .hero {
    justify-content: space-between;
    padding-bottom: var(--distance-xs);
  }
}

@media (min-width: 1234px) {
  .hero {
    flex-direction: row;
    justify-content: center;
    padding-bottom: var(--distance-xl);
  }
  .hero-reverse {
    padding-top: var(--distance-xl);
    flex-direction: row-reverse;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
}

.hero__image,
.hero__image-reverse {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--distance-xs);
}

@media (min-width: 1234px) {
  .hero__image {
    gap: var(--distance-xl);
    padding: 0 var(--distance-5xl) 0 0;
  }
  .hero__image-reverse {
    padding: 0 0 0 var(--distance-5xl);
  }
}
/* Centered-Text  */
.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 697px;
  text-align: center;
}
/* img-row */
.img-row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--distance-m);
  justify-content: center;
  align-items: center;
  max-width: 1409px;
}

@media (min-width: 1234px) {
  .img-row {
    justify-content: space-between;
  }
}

.logo--primary {
  color: var(--color-black);
}

.logo--secondary {
  color: var(--color-classic-rose);
}
/* List-Teaser */
.directory .btn {
  grid-column: 1 / -1;
  justify-self: center;
}

.directory__inner {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--distance-xl);
  justify-content: center;
  padding: var(--distance-xl) 0;
  border-top: solid 1px var(--color-black);
  border-bottom: solid 1px var(--color-black);
}
@media (min-width: 768px) {
  .directory__inner {
    grid-template-columns: repeat(2, 1fr);
    padding: var(--distance-xl) var(--distance-xs);
  }
}

@media (min-width: 1234px) {
  .directory__inner {
    grid-template-columns: repeat(4, 1fr);
    text-wrap: nowrap;
  }
}

.list {
  margin: 0;
  padding-top: var(--distance-s);
}
/* two-column-teaser */
.conclusion {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conclusion__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--distance-xl) var(--distance-xs);
  background-color: var(--color-classic-rose);
}

.conclusion__content {
  display: grid;
  grid-template-columns: 1fr;
  text-align: left;
}

@media (min-width: 768px) {
  .conclusion__content {
    grid-template-columns: 1fr;
    padding: var(--distance-xl) var(--distance-xs);
    gap: var(--distance-xl);
  }
}

@media (min-width: 1234px) {
  .conclusion__content {
    grid-template-columns: 1fr 1fr;
    padding: var(--distance-xl) var(--distance-5xl);
  }
}
/* footer  */
@media (min-width: 1234px) {
  .footer__section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
