@use "../utils/mixin" as f;

.nav {
  @include f.flex-ende;
  gap: var(--distance-xl);
  padding: 0;
  margin: 0;
  list-style: none;

  &-link {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xs);
    font-family: var(--body-font);
    line-height: var(--line-height-xl);
    text-decoration: underline;
    color: var(--color-black);
  }
}
