.copy {
  margin: 0 0 var(--distance-m) 0;
  font-weight: var(--font-weight-regular);
  font-style: normal;
  font-size: var(--font-size-xs);
  font-family: var(--body-font);
  line-height: var(--line-height-xs);
}
