@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-ende {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
