@use "../utils/breakpoints" as b;

.wrapper {
  margin: 0 auto;
  padding: var(--distance-xl) var(--distance-xs);
  max-width: 1408px;

  @media (min-width: b.$breakpoint-Desktop) {
    padding: var(--distance-xl) var(--distance-5xl);
  }
}
